<div class="row" *ngIf="user">
  <div class="col-xs-12">
    <h1 class="headingg">Edit {{user.username}}'s profile</h1>
    <form class="editForm" #f="ngForm" (ngSubmit)="edit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Username</label>
            <input
              required
              type="text"
              id="name"
              name="name"
              [(ngModel)]="user.username"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              required
              type="email"
              id="email"
              placeholder="Email"
              name="email"
              [(ngModel)]="user.email"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="role">Role</label>
            <select
              required
              type="text"
              id="role"
              name="role"
              [(ngModel)]="user.role"
              class="form-control">
              <option value="admin">admin</option>
              <option value="user">user</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-warning" [disabled]="f.invalid" type="submit">Edit</button>
    </form>
  </div>
</div>
