<h1>Workout-Exercises by Stefan Petrov</h1>
<img src="https://cdn3.iconfinder.com/data/icons/workouts/500/push_up-512.png" alt="">
<section class='left  list-group-item clearfix'>
  <div class="container">
    <h3>Info about us</h3>
    <p style="margin-top: 40px">The team wants to create a better and more understanding fitness society. It would be
    a great opportunity for you to join us and explore the exercise list that the other people shared with us.</p>

  </div>
</section>
<section class="right  list-group-item clearfix">
  <div class="container">
    <h3 class="text-center">Contacts</h3>
    <section class="left">
      <p class="lead">Facebook</p>
      <p>Stefan Petrov</p>
      <p class="lead">Instagram</p>
      <p>stefangpetrov</p>
    </section>
    <section class="right">
      <p class="lead">Address</p>
      <p>bul. Tsar Osvoboditel Sliven Bulgaria</p>
      <p class="lead">Phone</p>
      <p>0878 720 536</p>
    </section>
  </div>
</section>
