.form-group{
  margin-left: 2.5em
}
.col-xs-12{
  display: block;
}
.list-group-item{
  padding-left: 10px;
  margin-left: 1em;
  margin-bottom: 1em;
}

button {
  padding-left: 10px;
}
img{
  width: 150px
}
