.createForm{
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}
span {
  text-align: center;
}

.row {
  margin-left: 10em;
}
button{
  margin-left: 10em;
}
h1 {
  margin-left: 3em;
}
