
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-top:10px;">
        <div class="col-md-10 col-md-offset-1 pull-right">
          <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
          <h2>404 Not Found</h2>
          <p>Sorry, an error has occured, Requested page not found!</p>
          <div class="error-actions">
            <button (click)="getBack()" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Go back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
