.registerForm{
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}
span {
  text-align: center;
}

.row {
  margin-left: 30em;
}
span {
  margin-left: 1em;
}
h1 {
  margin-left: 1em;
}
